body {
    background-color: rgb(131, 129, 129);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

a {
    cursor: crosshair;
}

.index-header {
    width: 100%;
    height: 60px;
    background-color: white;
}

.index-header-logo {
    background-color: black;
    width: 100%;
    height: 30px;
}

.index-header-logo img {
    height: 30px;
    background-position: center;
}

.index-header-nav {
    height: 30px;
    width: 100%;
    
}

.index-header-nav ul {
    
}

.index-header-nav ul li {
    display: inline;
}

.index-header-nav ul li a {

}

.index-header-sm {
    
}